.first-block {
  display: grid;
  gap: 10px;
  width: 100%;
  height: 100%;
}

.first-block__tile {
  background-color: $dark-grey;
}

.first-block__tile p {
  margin: 0;
}

.first-block__tile--first {
  grid-column: 1 ;
  grid-row: 1 / 3;
}

.first-block__tile--second {
  grid-column: 2 ;
  grid-row: 1 / 1;
}

.first-block__tile--third {
  grid-column: 2 ;
  grid-row: 2 / 2;
}
