$white: #ffffff;
$black: #000000;
$header-grey: #c4c4c4;
$dark-grey: #a2a9b7;
$message-grey: #0f54b9;
$light-grey: #e8ebed;
$blue: #90bce8;
$yellow: #febf26;
$sky-green: #e3ebd3;
$royal-blue: #0f54b9;
$orange: #ffaa87;
$red: #f55e62;
$purple: #c7abd4;

$tablet-width: 768px;
$mobile-width: 480px;

$retina: 144dpi;
